spring:
  datasource:
    url: jdbc:mysql://dev-server.empresa.com:3307/ms-productsdb
    username: dev_user
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

logging:
  level:
    com.empresa.proyecto: INFO