spring:
  datasource:
    # Cambiamos MySQL por H2 en memoria
    url: jdbc:h2:mem:productos_db;DB_CLOSE_DELAY=-1
    username: sa
    password:
    driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    # Importante decirle a Hibernate que hable el lenguaje de H2
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.ms_products: DEBUG
    org.hibernate.SQL: DEBUG