# ==============================================================
# CONFIGURACIÓN GLOBAL (Común para todos los entornos)
# ==============================================================
server:
  port: 8081

spring:
  application:
    name: ms-products

  # CAMBIA AQUÍ: Usa 'local' para H2 o 'dev' para MySQL
  profiles:
    active: local

  # Configuración de Swagger/OpenAPI
  doc:
    api-docs:
      path: /api-docs
    swagger-ui:
      path: /swagger-ui.html

# ==============================================================
# PERFIL: local (Base de datos H2 en memoria)
# ==============================================================
---
spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:h2:mem:db_products
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true

# ==============================================================
# PERFIL: dev (Conexión a MySQL y Microservicios externos)
# ==============================================================
---
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:mysql://localhost:3306/db_products?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: root123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: true

# Configuración de Resiliencia (Mañana que conectes con otros MS)
resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s