spring:
  datasource:
    url: jdbc:mysql://localhost:3307/productos_local
    username: root
    password: root123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.ms_products: DEBUG
    org.hibernate.SQL: DEBUG